@media only screen and (max-width: 768px) {
  h1 {
    font-size: 48px;
  }
  li,
    p,
      h2 {
        fontsize: 24px;
      }
}

h1 {
  font-family: Poppins;
  font-size: 30px;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: red; }
  25% { color: green; }
  50% { color: blue; }
  100% { color: pink; }
}

#banner {
  background-image: url("https://scontent.fsin14-1.fna.fbcdn.net/v/t39.30808-6/288559792_5476943439037054_2790640700961005647_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=3635dc&_nc_ohc=on7WTo55sdEAX8KO0l8&_nc_ht=scontent.fsin14-1.fna&oh=00_AfCawIYtVZb-f2w-90dVCEeSM1MyqUDJqrw7SBzXKk-TLQ&oe=659A8C36");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: auto;
}

li {
  font-family: monospace;
  color: DarkSalmon
}

p {
  font-family: monospace;
  color: Salmon;
}

h2 {
  font-family: Poppins;
  color: Salmon;
}

#gold {
  font-family: Poppins;
  color: LightSalmon;
}
