h1 {
  font-family: Poppins;
  font-size: 30px;
  animation: color-change 1s infinite;
  margin: 30px auto;
  width: auto;
}

@keyframes color-change {
  0% { color: red; }
  25% { color: green; }
  50% { color: blue; }
  100% { color: pink; }
}

body {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

ol {
  display: inline-block;
  text-align: left;
}

#banner {
  background-image: url("https://scontent.fsin14-1.fna.fbcdn.net/v/t39.30808-6/288559792_5476943439037054_2790640700961005647_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=3635dc&_nc_ohc=on7WTo55sdEAX8KO0l8&_nc_ht=scontent.fsin14-1.fna&oh=00_AfCawIYtVZb-f2w-90dVCEeSM1MyqUDJqrw7SBzXKk-TLQ&oe=659A8C36");
  background-size: cover;
  background-position: center;
  height: 500px;
  margin: 20px auto;
  width: 75vw;
}

li {
  font-family: monospace;
  font-size: 18px;
  color: DarkSalmon
  margin: 20px auto;
  width: auto;
}

p {
  font-family: monospace;
  font-size: 20px;
  color: Salmon;
  margin: 20px auto;
  width: auto;
}

h2 {
  font-family: Poppins;
  font-size: 28px;
  color: Salmon;
  margin: 20px auto;
  width: auto;
}

#gold-greeting {
  font-family: Allison;
  font-size: 20px;
  background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 20px auto;
  width: auto;
}

